body {
    background-color: rgb(200, 210, 230);
}

.root {
    margin-top: 75px;
}

.movie-info {
    margin: 10px;
    width: 300px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-info img {
    width: 250px;
    height: 380px;
}

.movie-title {
    font-size: 23px;
    margin: 0;
    font-weight: bold;
}

.movie-desc {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.stars {
    height : 70px;
}

.star-message {
}

.button:hover {
    cursor: pointer;
}

.success-text {
    color: green;
    font-weight: bold;
}

.failure-text {
    color: red;
    font-weight: bold;
}
