extends layout.pug

block content

    //- Root container for content on this page.
    div(class='container-fluid')
        div(class='container-fluid')
            div(class='row')
                div(class='col-md-10 offset-md-1')

                    //- Displays movies on this row
                    each movie in movies
                        div(class="movie-info align-top")
                            img(src=movie.image)
                            p(class='movie-title') #{movie.title}
                            p(class='movie-desc') #{movie.releaseDate}


                            //- Star widget
                            div(class='stars' rating=movie.rating title=movie.title releaseDate=movie.releaseDate)
