doctype html
html(lang='en')
    head
        title #{title}
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/fontawesome-all.min.js')
        script(type='text/javascript', src='/js/site.js')
    body

        //- Navigation bar at top of page
        nav(class='navbar navbar-expand-lg fixed-top navbar-dark bg-dark')
            a(class='navbar-brand' href='/') Movie Verdicts
            div(class='collapse navbar-collapse')
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/movies')

        //- Page content
        div(class='container-fluid root')
            block content
